<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xsi:schemaLocation="http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- ========================== -->
	<!-- Barebones Spring MVC: Core -->
	<!-- ========================== -->

	<context:annotation-config />
	<mvc:annotation-driven />
	<mvc:default-servlet-handler />

	<bean class="com.earldouglas.barebones.springmvc.web.EmployeeController" />

	<!-- ========================================== -->
	<!-- Barebones Spring MVC: Database Integration -->
	<!-- ========================================== -->

	<!--
		<bean
		class="com.earldouglas.barebones.springmvc.service.InMemoryEmployeeService"
		/>
	-->

	<!-- ========================================== -->
	<!-- Barebones Spring MVC: RESTful Web Services -->
	<!-- ========================================== -->

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="viewResolvers">
			<list>
				<bean
					class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="prefix" value="/WEB-INF/views/" />
					<property name="suffix" value=".jsp" />
				</bean>
				<bean class="org.springframework.web.servlet.view.BeanNameViewResolver" />
			</list>
		</property>
	</bean>

	<oxm:jaxb2-marshaller id="marshaller">
		<oxm:class-to-be-bound
			name="com.earldouglas.barebones.springmvc.web.BindableEmployee" />
	</oxm:jaxb2-marshaller>

	<bean name="employee"
		class="org.springframework.web.servlet.view.xml.MarshallingView">
		<constructor-arg ref="marshaller" />
	</bean>

	<!-- ============================================================== -->
	<!-- Barebones Spring MVC: Externalization and Internationalization -->
	<!-- ============================================================== -->

	<mvc:interceptors>
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
	</mvc:interceptors>

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages" />
	</bean>

	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.SessionLocaleResolver" />

</beans>
