<context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>
		/WEB-INF/spring-mvc-security.xml
		/WEB-INF/persistence-context.xml  Barebones Spring MVC: Database Integration 
	</param-value>
</context-param>

<listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener>
